body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#menu-vertical{
    position:fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

ul, li{
    list-style: none;
    padding: 0;  
    margin: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.356);
}

ul, li:first-child{
    border-top: solid 0.5px rgba(255, 255, 255, 0.356);
}

ul, li:last-child{
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.356);
}

.logo{
    width: 200px;
    height: 200px;  
    margin: 5px
}

.logo ul,li a{
    text-decoration: none;
    display: block;
    color: rgba(252, 228, 228, 0.795);
    padding: 8px 16px;
    font-weight: bold;
}

.logo ul,li a:hover{
    background-color: rgba(167, 158, 146, 0.445);
    color: rgb(7, 7, 7);
}

.imagens-sociais{
    display: flex;
    height: 100%;
    padding-top: 182px;
    padding-left: 4px;
}

.sociais{
    width: 40px;
    height: 40px;
    padding: 10px;
}

#principal{
    background-image: url(../imagens/banner2.jpg);
    width: 1139px;
    background-size: cover;
    height: 656px;
    float: right;
    display: flex;
}

#secundaria{
    background-image: url(../imagens/poema2.jpg);
    background-size: cover;
    width: 1139px;
    height: 520px;
    display: flex;
    float: right;
    justify-content: center;
}

.esquerdo{
    width: 50%;
    text-align: center;
}

span{
    color: rgb(175, 47, 47);
}

label{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

input{
    font-size: 15px;
    border-radius: 10px 0px 0px 10px;
    padding-top: 5px;
}

button{
    border-radius: 0px 10px 10px 0px;
    padding-top: 5px;
    font-weight: bold;
}


.esquerdo p{
    text-align: center;
    padding-top: 45px;  
    font-weight: bold;
    font-size: 38px;
    
}

#terciaria{
    background-color: rgba(0, 0, 0, 0.918);
    width: 1139px;
    display: flex;
    float: right;
}

#title{
    width: 1139px;
    height: 138px;
    display: block;
    float: right;
    font-weight: bold;
    justify-content: center;
    font-size: 45px;
    color: rgba(255, 255, 1, 0.884);
}

#title p{
    text-align: center;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    letter-spacing: 6px;
}

#title p:hover{
    color: rgba(248, 248, 248, 0.788);
}

.cafe-produto{
    width: 80%;
    height: 500px;
    padding-top: 80px;
}

.cafe-produto img{
    width: 341px;
    height: 341px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cafe-produto P{
    color: white;
    text-align: center;
    font-weight: bold;
}

.botao{

    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #e68d20) );
    border-radius: 20px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 65px;
    line-height: 25px;
    width: 111px;
    height: 47px;
    text-align: center;
    margin-left: 133px;
}

a{
    text-decoration: none;
}

#quarta{
    background-color: rgba(0, 0, 0, 0.918);
    width: 1139px;
    display: flex;
    float: right;
}

#quinta{
    background-color: rgba(0, 0, 0, 0.918);
    width: 1139px;
    display: flex;
    float: right;
} 























/* -----------MEDIA MOBILE------------------- */

@media (max-width: 700px){
    #menu-vertical{
        display: none;
    }
    .imagens-sociais{
        display: none;
    }
    .logo{
        display: none;
    }
    ul, li{
        width: 100%;
        text-align: center;
    }
    #principal{
        background-image: url(../imagens/banner-mobile.jpg);
        width: 100%;
        background-size: cover;
        margin-top: 170px;
    }

    #secundaria{
        width: 100%;
        height: 1000px;
        align-items: center;
    }
    .esquerdo p{
        font-size: 28px;
    }
}